FB_PROJECT_ID=your-project-id
FB_PRIVATE_KEY_ID=your-private-key-id
FB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FB_CLIENT_EMAIL=your-client-email@your-project.iam.gserviceaccount.com
FB_CLIENT_ID=your-client-id
FB_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FB_TOKEN_URI=https://oauth2.googleapis.com/token
FB_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FB_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/your-client-email%40your-project.iam.gserviceaccount.com
